.primary-1 { background-color: #00BD39 }
.primary-2 { background-color: #238D43 }
.primary-3 { background-color: #007B25 }
.primary-4 { background-color: #37DE6A }
.primary-5 { background-color: #64DE89 }
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 49px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: .primary-5;
  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
  border-bottom: 2px solid #4BED39;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: .primary-5;
  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
  color: #ffffff;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1DC90A
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#cssmenu > ul > li:hover > a {
  background: .primary-2;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: .primary-2;
  border-bottom: 1px dotted #30DE1D;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #4BED39;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: .primary-3;
  border-bottom: 1px dotted #4BED39;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: .primary-2;
}
body {
	margin: 0; padding: 0;
	background: #e0e0e0;
	color: #333;
	font: 11px/1.5 verdana, sans-serif;
	}
.cleaner {
	clear: both;
	height: 1px; margin: 0;
	}
#main {
	position: relative;
	width: 780px;
	margin: 0 auto;
	padding: 13px 0 0 0;
    top: 0px;
    left: 0px;
}
#topbg {
	position: absolute; top: 0; left: 0; z-index: -1;
	width: 100%; height: 143px;
	background: #404040;
	}
#header {
	position: relative;
	width: 780px; height: 147px;
	background: gray;
	}

/* @group Header */

#hdr-overlay {
	position: relative; top: 31px; left: 0px;
	width: 780px; height: 15px;
	}
#header h1 {
	display: none;
	}
#header .box {
	position: absolute; top: 6px;
	width: 75px; height: 25px;
	background: silver;
	}
#hdr-box1 { left: 15px }
#hdr-box2 { left: 100px }
#hdr-box3 { left: 185px }
#hdr-box4 { left: 270px }

#header h2 {
	position: absolute; top: 65px; right: 140px;
	margin: 0;
	width: 8em;
	font-size: 15px;
	line-height: 1.33;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	color: white;
	}

/* @end */

/* @group menu */

#menu {
	margin: 0; padding: 1px 0;
	list-style-type: none;
	height: 26px;
	}
#menu li {
	float: left;
	margin: 0; padding: 0;
	width: 20%;
	}
#menu a {
	position: relative;
	display: block;
	margin: 1px;
	height: 24px;
	font-size: 10px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: gray;
	color: white;
	}
#menu a span {
	display: block;
	position: absolute; top: 5px; left: 8px;
	width: 8px; height: 8px;
	background: white;
	}
#menu a.sel {
	background: silver;
	color: black;
	}
#menu a:hover {
	background: #333;
	color: #ccc;
	}
/* @end */

#content {
	padding: 1px;
	color: #333;
	overflow-y: auto;
	overflow-x:hidden;
	background-color:#FFF;
	}
/*#content a {
	padding: 2px 3px;
	}quite esto para solo tener el de "blog" */
#content p {
	margin: 0.25em 0;
	}
#left {
	float: left;
	width: 402px;
	padding: 10px 20px;
	border-right: 1px dotted white;
	}
#left h3 {
	margin: 0.5em 0 0.3em;
	font-size: 18px;
	font-weight: normal;
	}
#left dt {
	float: left;
	font-weight: bold;
	}
#left dd {
	margin: 1em 0 1em 6em;
	}
#ico {
	float: left;
	padding: 5px;
	}
#left h4 {
	margin: 0 0 0 6em;
	font-size: 100%;
	font-weight: bold;
	}
#left ul {
	margin: 0 0 0 6em; padding: 0;
	color: red;
	list-style-type: square;
	list-style-position: inside;
	}

#right {
	float: right;
	width: 302px;
	margin: 0 20px 0 0;
	padding: 10px 0;
	}
#right h3 {
	clear: left;
	margin: 0.5em 0 0.3em 0;
	font-size: 12px;
	}
#right h3 span {
	display: inline-block;
	width: 9px; height: 9px;
	margin-right: 1em;
	border: 1px solid silver;
	vertical-align: middle;
	}
#right .photo {
	float: left;
	margin: 0 15px 15px 0;
	}
#right h4 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	}
#right .link {
	text-align: right;
	}
#rbox {
	float: left;
	position: relative;
	width: 180px;
	margin: 15px 0 20px 0;
	padding: 2px 5px 2px 30px;
	font-size: 10px;
	line-height: 1.2;
	}
#rbox span {
	display: block;
	position: absolute; top: 5px; left: 8px;
	width: 8px; height: 8px;
	background: white;
	}
#right button {
	float: right;
	margin: 15px 0 20px 0;
	width: 150px;
	height: 30px;
	background: gray;
	color: black;
	border: 1px solid silver;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	}

#footer {
	margin: 10px 0 10px 0;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
#footer a {
	padding: 3px 5px;
	}
/* blog inicio*/
#page_wrapper_full {
	width: 100%;
	margin: auto auto auto auto;

}
#content2 {
	margin: 30px 0 0 0;
	padding: 0 0 0px 0;
}
#content2 .content_left {
	width: 420px;
	float: left;
	margin: 0 0 30px 0px;
	padding: 0px 40px 0px 0;
}
.container {
	width: 1000px;
	margin: auto auto auto auto;
}
.blog_post {
	float: left;
	width: 100%;
	padding: 15px;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 98%;
	border: 7px solid #eee;
	margin-bottom: 25px;
	max-width: 400px;
	height: auto;
}
.blog_postcontent .image_frame:hover {
	border: 7px solid #f6f6f6;
	max-width: 400px;
	height: auto;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
	max-width: 400px;
	height: auto;
}
a {
	color: #727272;
	text-decoration: none;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	text-decoration: none;
	color: #00bdc9;
}
.blog_post a.date {
	background-color:#238D43;
	padding: 16px 5px 0px 0px;
	text-decoration: none;
	width: 57px;
	height: 53px;
	text-align: center;
	display: block;
	margin-right: 24px;
	float: left;
}
.blog_post a.date strong {
	color: #fff;
	font-size: 31px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}
.blog_post a.date i {
	color: #fff;
	font-size: 11px;
	font-style: normal;
	padding: 2px 10px;
	display: block;
	border-top: 1px solid #00b2c0;
	width: 42px;
	background-color: #238D43;
}
.post_info_content{
	width: 600px;
	max-width: 100%;
}

.post_info_content img{
	max-width: 100%;
}


.searchbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}
.searchbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.searchbutton:active {
	position:relative;
	top:1px;
}

