<html><head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>SIMETRISSS</title>
    {% load staticfiles %}
    <meta property="og:image"content="http://simetrisss.herokuapp.com/static/imagenes/fb-share.jpg" />
    {% block header %} {%endblock%}
    <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{% static "js/jquery-1.4.2.min.js" %}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


</head>
<body>

<div id="topbg" style="background-color: rgb(55, 222, 106); opacity: 0.5; background-position: initial initial; background-repeat: initial initial;"></div>

<div id="main">
    

	<div id="header" style="background-color: rgb(55, 222, 106); background-position: initial initial; background-repeat: initial initial;">
		<div id="hdr-overlay">
		<img alt="" src="{% static "imagenes/eslogan%20simetrisss.png" %}" style="height: 114px; width: 780px" /></div>
		<div id="hdr-box1" class="box bg-pri-1" style="background-color: rgb(35, 141, 67); background-position: initial initial; background-repeat: initial initial;"></div>
		<div id="hdr-box2" class="box bg-pri-2" style="background-color: rgb(0, 123, 37); background-position: initial initial; background-repeat: initial initial;"></div>
		<div id="hdr-box3" class="box bg-pri-3" style="background-color: rgb(0, 189, 57); background-position: initial initial; background-repeat: initial initial;"></div>
		<div id="hdr-box4" class="box bg-pri-4" style="background-color: rgb(100, 222, 137); background-position: initial initial; background-repeat: initial initial;"></div>
		&nbsp;</div>

<div id='cssmenu'>
        <ul>
           <li class='active'><a href='/'><span>Inicio</span></a></li>
           <li class='has-sub'><span><a href="#">Institucional</a></span>
              <ul>
                <li><a href='/organigrama/'><span>Organigrama</span></a></li>
                 <li><a href='/misionvision/'><span>Misión y Visión</span></a></li>
                 <li class='last'><a href='/estatutos/'><span>Estatutos</span></a></li>
              </ul>
           </li>
           <li class='has-sub'><span><a href="#">Publicaciones</a></span><a href="#"></a>
              <ul>
                <li><a href='/documentos/'><span>Documentos</span></a></li>
                 <li><a href='/editoriales/'><span>Editoriales</span></a></li>
                 <li><a href='/comunicados/'><span>Comunicados</span></a></li>
                 <li><a href='/educacionmedica/'><span>Educación Médica Continua</span></a></li>
                 <li class='last'><a href='/educacionsindical/'><span>Educación Sindical</span></a></li>
              </ul>
           </li>
           <li class='has-sub'><span><a href="#">Eventos</a></span>
             <ul>
               <li><a href='/proximoseventos/'><span>Próximos Eventos</span></a></li>
                 <li><a href='/actividadesrealizadas/'><span>Actividades Realizadas</span></a></li>
                 <li><a href='/galeria/'><span>Galería Fotografica</span></a></li>
                 <li class='last'><a href='/videos/'><span>Videos</span></a></li>
              </ul>
           </li>
           <li class='has-sub'><span><a href="#">Enlaces</a></span>
              <ul>
                {% block links %}{% endblock %}
              </ul>
           </li>
           <li class='has-sub last'><span><a href="#">Contáctenos</a></span><a href="#"></a></a>
              <ul>
                <li><a href='/ubicacion/'><span>Ubicación</span></a></li>
                 <li class='last'><a href='/directorio/'><span>Directorio</span></a></li>
              </ul>
           </li>
        </ul>
    </div>

<div id="content">
{% block slider %} {% endblock %}
		<div id="left" style="border-color: rgb(100, 222, 137); height: 700px;">
<div id="page_wrapper_full">
<div id="content2">
<div class="container">
<div class="content_left">
{%block contenido%}{% endblock %}
</div>
</div>
</div>
</div>
		</div>


		<div id="right" style="max-width:100%;">
			&nbsp;
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Ffacebook.com%2FOficialSIMETRISSS&amp;width=292&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=true&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:290px;" allowTransparency="true"></iframe>
            
<a class="twitter-timeline" href="https://twitter.com/SIMETRISSS" data-widget-id="356896399708803072">Tweets por @SIMETRISSS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>

		<div class="cleaner"></div>



  </div>
	<div id="content">
			<p><br>
			</p>


  </div>
  <div id="footer" style="background-color: rgb(0, 123, 37); color: rgb(0, 189, 57); border-color: rgb(100, 222, 137); background-position: initial initial; background-repeat: initial initial;">
			<a href="#" style="background-color: transparent; color: rgb(0, 189, 57); background-position: initial initial; background-repeat: initial initial;">SIMETRISSS 2013</a>
		</div>

</div>


</body></html>

