{% extends "base.html" %}

{% block contenido %} 
{% load staticfiles %}
	<h2 class="titulo" >Directorio</h2><br>  
    {% for miembro in miembros %}
        <div class="miembro" style="padding:10px;">
            <h2 class="titulo" >{{ miembro.nombre }}</h2>
            {% if miembro.img != "" %}
            <div style="float:left;"><img src="./../{{ miembro.img }}" width="182" height="232"a/></p> 							</div>
            {% endif %}
           <div style="height:240px">            
             <h2>
             <strong>Cargo:</strong> {{ miembro.cargo }}<br />
             <strong>Teléfono:</strong> {{ miembro.telefono }}<br />
             <strong><a href="mailto:{{ miembro.email }}">Correo Electrónico </a></strong></p></h2>
            </div>
        </div>
    {% endfor %} 
{% endblock %}


{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}