{% extends "base.html" %}

{% block contenido %} 
{% load staticfiles %}
	<h2 class="titulo" >Documentos</h2><br>  
    {% for doc in docs %}
        <div class="documento"><h3><a href="/{{doc.url}}">{{doc.titulo}} </a></h3>
        {{doc.desc}}
        </div>
    {% endfor %} 
{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}