{% extends "base.html" %}

{% block contenido %} 
    <div class="Eventos">
    <h2 class="titulo" >Eventos</h2><br>  
        {% for item in eventos %}
        <h2>{{item}}</h2>
        <h3>{{item.fecha}}</h3>
        {{item.descripcion}}
        {%endfor%}
    </div>
{% endblock %}


{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}