{% extends "base.html" %}

{% block header %}
{% load staticfiles %}
<script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenido %} 
<h2 class="titulo" >Galeria de Imagenes</h2><br>  
	<div class="galeria">
    {% for img in imgs %}
    <a href="/{{ img.url }}" rel="lightbox" title="{{img.descripcion}}"><img src="/{{img.url}}" width="60" height="60" alt="{{img.descripcion}}" /></a>
    {% endfor %}
</div>
{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}