{% extends "base_home.html" %}

{% block slider %}
{% load staticfiles %}

{% endblock %}

{% block contenido %} 
{% load staticfiles %}
<form id="busqueda" name="busqueda" method="POST" action="/">
{% csrf_token %}
{{busqueda}}<button type="submit" class="searchbutton" >Buscar</button>
</form>
{% for item in publicaciones %}
<div class="blog_post">
	<div class="blog_postcontent">
					<a href="#" class="date">
						<strong> {{item.fecha|date:"d"}} </strong>
						<i> {{item.fecha|date:"M"}} </i>
					</a>
					<h3>
						<a href="/post/{{item.id}}/"> {{ item }}
						</a>
					</h3>
					<div class="post_info_content" style="float:left; width:200px; height:auto;">
           			     {{ item.contenido | safe }}
		                </div>
				</div>			
			</div>
    {% endfor %} 

    <div class="pagination" align="center">
    <span class="step-links">
        {% if publicaciones.has_previous %}
            <a href="/{{ publicaciones.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ publicaciones.number }} de {{ publicaciones.paginator.num_pages }}.
        </span>

        {% if publicaciones.has_next %}
            <a href="/{{ publicaciones.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>


{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}