{% extends "base.html" %}

{% block contenido %}
	<h2 class="titulo" >Lista de Videos</h2><br>        
    	<ul>  
    {% for video in vids %}
    	<div class="documento">
            {% if miembro.img != "" %}
            <li><a href="/videos/{{video.id}}"/>{{video.titulo}}</a><br/>{{video.descripcion}}
            {% endif %}</li><br>
              </div>
    {% endfor %} 
     <ul>
   
{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}