{% extends "base.html" %}

{% block contenido %} 
    <div class="pagina">
    <h2 class="titulo" >{{ pagina }}</h2><br>  
        {{ pagina.contenido | safe }}
    </div>
{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}