{% extends "base.html" %}
{% block header %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-957aadd0-23a5-3f74-e7ac-74a355827879", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{%endblock%}
{% block contenido %} 
			<div class="blog_post">
				<div class="blog_postcontent">
					<a href="#" class="date">
						<strong> {{item.fecha|date:"d"}} </strong>
						<i> {{item.fecha|date:"M"}} </i>
					</a>
					<h3>
					{% if item.tipo.id == 1 %}
					<a href="/editoriales/">{{item.tipo}}</a>
					{% endif %}
					{% if item.tipo.id == 2 %}
					<a href="/comunicados/">{{item.tipo}}</a>
					{% endif %}
					{% if item.tipo.id == 3 %}
					<a href="/educacionmedica/">{{item.tipo}}</a>
					{% endif %}
					{% if item.tipo.id == 4 %}
					<a href="/educacionsindical/">{{item.tipo}}</a>
					{% endif %}
						> {{ item }}
					</h3>
					<div class="post_info_content" style="float:left; height:auto;">
           			     {{ item.contenido | safe }}
                         <span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_plusone_large' displayText='Google +1'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_fblike_large' displayText='Facebook Like'></span>
<span class='st_email_large' displayText='Email'></span>
		                </div>
				</div>			
			</div>

{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}