{% extends "base.html" %}

{% block contenido %}

<div class="video" align="center">
<a href="/videos"><< Regresear a lista videos</a>
            <h3 class="titulo" >{{ video.titulo }}</h3>
            <object width="560" height="315"><param name="movie" value="http://www.youtube.com/v/{{ video.url }}?version=3&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{ video.url }}?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object><br>
        {{ video.descripcion }}<br>
  <br>
</div>
{% endblock %}

{% block links %}
	{% for enlace in enlaces %}
	<li><a href="{{ enlace.url }}"><span>{{ enlace.nombre }}</span></a></li>
		{% empty %}
		<!-- No existen enlaces -->
	{% endfor %}
{% endblock %}